<header>
    <div class="encabezado">
      <a href="/"><img src="/img/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" / ></a>

      <form method="get" action="#" class="form">
        <input type="text" id="searchterm" placeholder="Que estas buscando?" class="buscador">
        <button type="button" id="search"> buscar</button>
      </form>

      <p class="centrado"> <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjetas de crédito
      </p>
    </div>

    <nav>
      <ul class="lista" ul type="none">
        <div class="lista-1">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayudas</a></li>
        </div>
        <div class="lista-2">
          <li><a href="/user/signup">Creá tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
          <li><a href="/user/login">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></i></a></li>
          <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
        </div>
      </ul>
      <div class="boton">
        <i class="fa-solid fa-bars"></i>
      </div> <br>
    </nav>
    <img src="/img/img-home-banner.jpg" alt="imagen banner" class="banner">
  </header>