<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
  </head>
  <body>
    <header>
      <img
        src="/img/logo-mercado-liebre.svg"
        alt="Logo Mercado Liebre"
        width="360"
      />
      <br />
      <nav><input type="text" /></nav>
      <p>Comprar en cuotas y sin tarjetas de credito</p>
      <ul>
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayudas</a></li>
        <br />
        <li><a href="#">Creá tu cuenta</a></li>
        <li><a href="#">Ingresá</a></li>
        <li><a href="#">Mis compras</a></li>
      </ul>
    </header>
    <main>
    
      <figure>
       <img 
        src="/img/img-home-banner.jpg"
        alt="Foto banner" 
        width="360">
      </figure>
    

      <section>

        <h2>Basado en tú ultima vista</h2>

        <figure>
          <img
            src="/img/img-cafetera-moulinex.jpg"
            alt="Cafetera"
            width="359"
          />
          <p>
            $6.770<br />
            40% OFF<br />
            Cafetera Moulinex
          </p>
          <br />
        </figure>


        <figure>

          <img
            src="/img/img-macbook-pro-2019.jpg"
            alt="MacBook Pro"
            width="360"
          />
          <p>
            $230.000<br />
            20% off<br />
            MacBook Pro 2019
          </p>
          <br />
        </figure>


        <figure>
          <img
            src="/img/img-samsung-galaxy-s10.jpg"
            alt="Samsung Galazy s10"
            width="360"
          />
          <p>
            $70.500<br />
            10% off<br />
            Samsung Galaxy S10
          </p>
          <br />
        </figure>


        <figure>
          <img
            src="/img/img-tv-samsung-smart.jpg"
            alt="Tv Samsung"
            width="360"
          />
          <p>
            $23.200<br />
            5% off<br />
            SmartTv Samsung 43"
          </p>
          <br />
        </figure>


      </section>

      <section>
        <h2>Ofertas</h2>

        <figure>
            <img
              src="/img/img-cafetera-moulinex.jpg"
              alt="Cafetera"
              width="360"
            />
            <p>
              $6.770<br />
              40% OFF<br />
              Cafetera Moulinex
            </p>
            <br />
          </figure>


          <figure>
            <img
              src="/img/img-macbook-pro-2019.jpg"
              alt="MacBook Pro"
              width="360"
            />
            <p>
              $230.000<br />
              20% off<br />
              MacBook Pro 2019
            </p>
            <br />
          </figure>


          <figure>
            <img
              src="/img/img-samsung-galaxy-s10.jpg"
              alt="Samsung Galazy s10"
              width="360"
            />
            <p>
              $70.500<br />
              10% off<br />
              Samsung Galaxy S10
            </p>
            <br />
          </figure>


          <figure>
            <img
              src="/img/img-tv-samsung-smart.jpg"
              alt="Tv Samsung"
              width="360"
            />
            <p>
              $23.200<br />
              5% off<br />
              SmartTv Samsung 43"
            </p>
            <br />
            
      </section>

    </main>

    <footer>
        <section>
          <h2>Pago con tarjeta o efectivo</h2>
          <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section>
          <h2>Envio gratis desde los $2.500</h2>
          <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section>
          <h2>Seguridad, de principio a fin</h2>
          <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </section>

        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>


    </footer>
  </body>
</html>
