<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre</title>
  </head>

  <body>
    <header>
      <div class="encabezado">
        <a href="/"><img src="/img/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" / ></a>

        <div class="form" id="searchform">
          <input type="text" id="searchterm" placeholder="Que estas buscando?">
          <button type="button" id="search"> buscar</button>
        </div>

        <p class="centrado"> <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjetas de crédito
        </p>
      </div>

      <nav>
        <ul class="lista" ul type="none">
          <div class="lista-1">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayudas</a></li>
          </div>
          <div class="lista-2">
            <li><a href="/signup">Creá tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
            <li><a href="/login">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></i></a></li>
            <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
          </div>
        </ul>
        <div class="boton">
          <i class="fa-solid fa-bars"></i>
        </div> <br>
      </nav>
      <img src="/img/img-home-banner.jpg" alt="imagen banner" class="banner">
    </header>

    <main>

      <section>
        <h2>Basado en tú ultima vista</h2>
        <div class="productos">
          <figure>
            <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera" width="360" />
            <div class="box">
              <p class="carrito"><i class="fa-solid fa-truck"></i></p>
              <p class="precio"> $6.770
              <p>
              <p class="oferta">40% off</p>
              <p class="descripcion">Cafetera Moulinex</p>
            </div>
          </figure>

          <figure>
            <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook Pro" width="360" />
            <div class="box">
              <p class="carrito"><i class="fa-solid fa-truck"></i></p>
              <p class="precio">$230.000 </p>
              <p class="oferta">20% off</p>
              <p class="descripcion"> MacBook Pro 2019</p>
            </div>
          </figure>


          <figure>
            <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galazy s10" width="360" />
            <div class="box">
              <p class="carrito"><i class="fa-solid fa-truck"></i></p>
              <p class="precio">$70.500</p>
              <p class="oferta">10% off</p>
              <p class="descripcion">Samsung Galaxy S10</p>
            </div>
          </figure>

          <figure>
            <img src="/img/img-tv-samsung-smart.jpg" alt="Tv Samsung" width="360" />
            <div class="box">
              <p class="carrito"><i class="fa-solid fa-truck"></i></p>
              <p class="precio">$23.200</p>
              <p class="oferta"> 5% off</p>
              <p class="descripcion">SmartTv Samsung 43"</p>
            </div>
          </figure>
        </div>
      </section>

      <section>
        <h2>Ofertas</h2>
        <div class="productos">
          <figure>
            <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera" width="360" />
            <div class="box">
              <p class="carrito"><i class="fa-solid fa-truck"></i></p>
              <p class="precio"> $6.770
              <p>
              <p class="oferta">40% off</p>
              <p class="descripcion">Cafetera Moulinex</p>
            </div>
          </figure>


          <figure>
            <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook Pro" width="360" />
            <div class="box">
              <p class="carrito"><i class="fa-solid fa-truck"></i></p>
              <p class="precio">$230.000 </p>
              <p class="oferta">20% off</p>
              <p class="descripcion"> MacBook Pro 2019</p>
            </div>
          </figure>


          <figure>
            <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galazy s10" width="360" />
            <div class="box">
              <p class="carrito"><i class="fa-solid fa-truck"></i></p>
              <p class="precio">$70.500</p>
              <p class="oferta">10% off</p>
              <p class="descripcion">Samsung Galaxy S10</p>
            </div>
          </figure>


          <figure>
            <img src="/img/img-tv-samsung-smart.jpg" alt="Tv Samsung" width="360" />
            <div class="box">
              <p class="carrito"><i class="fa-solid fa-truck"></i></p>
              <p class="precio">$23.200</p>
              <p class="oferta"> 5% off</p>
              <p class="descripcion">SmartTv Samsung 43"</p>
            </div>
          </figure>
        </div>
      </section>
    </main>

    <footer>
      <section>
        <p class="icono"><i class="fa-solid fa-credit-card"></i></p>
        <h3>Pago con tarjeta o efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
          puntos de pago. ¡Y siempre es seguro!</p>
      </section>

      <section>
        <p class="icono"><i class="fa-solid fa-gift"></i></p>
        <h3>Envio gratis desde los $2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
          productos. Es un beneficio de Mercado Puntos.</p>
      </section>

      <section>
        <p class="icono"><i class="fa-solid fa-user-shield"></i></p>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
          porque estás siempre protegid@.</p>
      </section>

      <p class="pie">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>


    </footer>
  </body>

</html>