<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Document</title>
  </head>

  <body>
    <header>
      <div class="encabezado">
        <img src="/img/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" />

        <div class="form" id="searchform">
          <input type="text" id="searchterm" placeholder="Que estas buscando?">
          <button type="button" id="search"> buscar</button>
        </div>

        <p class="centrado"> <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjetas de crédito
        </p>
      </div>

      <nav>
        <ul class="lista" ul type="none">
          <div class="lista-1">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayudas</a></li>
          </div>
          <div class="lista-2">
            <li><a href="/signup">Creá tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
            <li><a href="/login">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></i></a></li>
            <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
          </div>
        </ul>
        <div class="boton">
          <i class="fa-solid fa-bars"></i>
        </div> <br>
      </nav>
    </header>

    <main>
      <form action="#" method="get">
        <h3>Información del usuario</h3>

        <div class="datos-u">
          <input type="text" name="nombre" placeholder="Nombre y apellido" id="nombre" class="drawer" minlength="4"
            required>
          <input type="text" name="usuario-n" placeholder="Nombre de usuario" id="usuiario-n" class="drawer"
            minlength="4" required>
          <input type="text" name="email" placeholder="E-mail" id="email" class="drawer" required>
        </div>
        <h3>Fecha de nacimiento</h3>

        <p><input type="date" class="drawer" required></p><br>
        <p><input type="text" name="domicilio" placeholder="Domicilio" class="drawer"></p>

        <h3>Perfil del usuario</h3>

        <label><input type="radio" name="perfil-u" value="comprador" id="comprador" class="radio"> Compador</label>
        <label><input type="radio" name="perfil-u" value="vendedor" id="vendedor" class="radio"> Vendedor</label>


        <h3>Intereses</h3>
        <div class="checkbox">
          <label><input type="checkbox" name="inetereses"> Electro</label>
          <label><input type="checkbox" name="inetereses"> Moda</label>
          <label><input type="checkbox" name="inetereses"> Hogar</label>
          <label><input type="checkbox" name="inetereses"> Juguetería</label>
          <label><input type="checkbox" name="inetereses"> Vida sana</label>
        </div>

        <p>
        <h3>Foto de perfil</h3><input type="file" accept=".jpg"></p>

        <div class="datos-u">
          <input type="password" name="contraseña" placeholder="Contraseña" class="drawer" minlength="8" required>
          <input type="password" name="confirmacion-c" placeholder="Confirmar contraseña" class="drawer" minlength="8"
            required>
        </div>

        <button type="submit" name="enviar" value="submit" class="button"><a href="/"></a>Enviar</button>
        <button type="reset" name="enviar" value="reset" class="button">Borrar</button>

      </form>

    </main>
    <footer>
      <section>
        <p class="icono"><i class="fa-solid fa-credit-card"></i></p>
        <h3>Pago con tarjeta o efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
          puntos de pago. ¡Y siempre es seguro!</p>
      </section>

      <section>
        <p class="icono"><i class="fa-solid fa-gift"></i></p>
        <h3>Envio gratis desde los $2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
          productos. Es un beneficio de Mercado Puntos.</p>
      </section>

      <section>
        <p class="icono"><i class="fa-solid fa-user-shield"></i></p>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
          porque estás siempre protegid@.</p>
      </section>

      <p class="pie">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>


    </footer>
  </body>

</html>