* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ebebeb;
}

/*------------------- Css del header------------------------- */

header {
  background-color: #eac926;
}

header div a img {
  padding-top: 10px;
  width: 40vw;
}
h2 {
  text-align: left;
  padding: 5% 0 5% 5%;
  font-size: 24px;
  color: #666;
}

.form {
  width: 30%;
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 0.4;
}

.encabezado {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.centrado {
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 15px;
}

.lista {
  display: none;
}

ul li a {
  padding-left: 5%;
  font-size: 12px;
  text-decoration: none;
  color: black;
}

.boton {
  text-align: center;
  background-color: #0044aa;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  height: 30px;
  padding-top: 3px;
  margin: auto;
  width: 30px;
}

.banner {
  display: block;
  margin: 0;
  width: 100%;
}

.lista {
  display: none;
}

.lista-1 {
  margin-bottom: 3%;
}

/* ------------------Css del main -----------------------*/

main {
  width: 90%;
  margin: 10px auto;
  background-color: #ebebeb;
}

main section figure {
  margin: 10px 0;
  background-color: #fff;
  transition: box-shadow 450ms;
}

main section figure:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

main section img {
  width: 100%;
}

.box {
  background-color: #fff;
  width: 100%;
  text-align: left;
  border-top: solid 1px #ebebeb;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 10% 0;
  justify-content: space-around;
}

.carrito {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  color: #39b54a;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
  transition: 1s;
}

section figure:hover .carrito {
  transform: rotate(-90deg);
}

.oferta {
  color: #39b54a;
  width: 70%;
}

.precio {
  font-size: 18px;
  width: 30%;
  padding-left: 15px;
}

.descripcion {
  color: #666;
  padding-top: 1vh;

  visibility: hidden;
  transition: all 450ms;
}

section figure:hover .descripcion {
  visibility: visible;
}

/* ----------------------Css del footer--------------------- */

footer {
  background-color: #fff;
  text-align: center;
  display: block;
  padding: 0 10%;
  margin-top: 10px;
}

.icono {
  padding-top: 10px;
  font-size: 2em;
  margin: 10px 0;
  color: #1259c3;
}

footer section {
  color: #666;
}

.pie {
  color: #666;
  text-align: left;
  padding: 2vh 0;
}

button a {
  text-decoration: none;
  color: #fff;
}

/* -------------Formulario de registro----------------- */

h3 {
  margin: 10px 0;
}

form {
  text-align: center;
  margin: 10px 0;
}

.datos-u {
  width: 90vw;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.drawer {
  width: 60%;
  padding: 5px;
  border-radius: 5px;
  border: #000 solid 1px;
}

.radio {
  margin: 0 10px;
}

.checkbox {
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding-left: 30%;
}

.button {
  border-radius: 5px;
  border: solid black 1px;
  background-color: #fff;
  color: black;
  transition: all 500ms;
  width: 20%;
  height: 4%;
  margin: 5px;
  padding: 5px;
}

.button:hover {
  background-color: #0022aa;
  border: #0022aa;
  color: #fff;
}

.button-login {
  width: 30%;
  height: 20%;
  padding: 5px;
  border-radius: 5px;
  border: solid black 1px;
  background-color: #fff;
  color: black;
  transition: all 500ms;
}

.button-login:hover {
  background-color: #0022aa;
  border: #0022aa;
  color: #fff;
}

.drawer:focus {
  box-shadow: 0px 0px 15px black;
}

@media (min-width: 361px) {
  .boton {
    display: none;
  }

  .productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  main section figure {
    width: 45%;
  }

  .precio {
    width: 60%;
  }

  .oferta {
    width: 40%;
  }

  .centrado {
    font-weight: 400;
    width: 35%;
    padding: 0 5% 0 5%;
    flex-grow: 0.5;
  }
  .lista {
    display: flex;
  }

  ul .lista-1 {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    margin: 0;
  }

  ul .lista-2 {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: flex-end;
  }

  li {
    flex-grow: 0.1;
  }

  .button {
    width: 15%;
  }

  ul li a {
    font-size: 9px;
  }
}

@media (min-width: 769px) {
  main section figure {
    width: 22%;
  }

  ul li a {
    font-size: 16px;
    font-weight: 400;
  }

  .centrado {
    width: 30%;
    padding-top: 5%;
    font-size: 18px;
    font-weight: 400;
  }

  .form {
    width: 30vw;
  }

  header div a img {
    width: 30vw;
  }

  .main-footer {
    display: flex;
    justify-content: space-between;
  }

  .icono {
    transition: all 450ms;
  }

  .icono:hover {
    color: gray;
  }

  .pie {
    margin-top: 3vh;
  }

  .buscador {
    width: 70%;
  }
}

@media (min-width: 1900px) {
  section h2 {
    font-size: 50px;
  }

  .precio {
    font-size: 25px;
  }

  .oferta {
    font-size: 25px;
  }

  .descripcion {
    font-size: 30px;
  }

  ul li a {
    font-size: 25px;
  }

  .centrado {
    font-size: 30px;
  }

  ::placeholder {
    font-size: 20px;
  }

  .buscador {
    padding: 1%;
    font-size: 20px;
  }
}
